<nav class="navbar bg-light">
  <div class="container-fluid" class="text-center">
    &nbsp;
    <a class="btn btn-space btn-primary" href="home">Home</a>
    &nbsp;
    <a class="btn btn btn-primary" href="about">About</a>
    &nbsp;
    <a class="btn btn btn-primary" href="contact">Contact</a>
  </div>

<!-- <div id="header">
  <h1>
    {{ title }}'s Portfolio Page!
  </h1>
  <img alt="Angular Logo" src="../assets/images/profile4.png">
  <h3>Full Stack Dev</h3>

  <h5 class="fw-bold">{{ tagline }}</h5>
  
  <app-skills></app-skills>
</div> -->
</nav>
<h1 class="text-center">
  Full Stack Dev
</h1>
<!-- <h5 class="fw-bold" class="text-center">{{ tagline }}</h5> -->

<router-outlet></router-outlet>
<!-- <app-message-form></app-message-form> -->

