<!-- <ul>
<div id="header">
  <h1>The Beatles</h1>
<nav>
  <a class="btn" routerLink="home" routerLinkActive="active">Home</a>
  <a class="btn" routerLink="about" routerLinkActive="active">About</a>
  <a class="btn" routerLink="albums" routerLinkActive="active">Albums</a>
</nav>
</div> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid" class="text-center">
    <ul class="nav navbar-nav">
      <li><a class="btn btn-primary" routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a class="btn btn-primary" routerLink="about" routerLinkActive="active">About</a></li>
      <li><a class="btn btn-primary" routerLink="albums" routerLinkActive="active">Albums</a></li>
    </ul>
    <div>
      <p>The Beatles<p>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
