<br>
<img src="src/app/contact/images/contact.jpg"><br>
<div class="card" style="width: 50rem;" >
    <div class="card-body">
<form>
    <div class="mb-3">
      <label for="exampleInputFirstName" class="form-label">First Name</label>
      <input type="firstName" class="form-control" id="exampleInputFirstName">
    </div>
    <div class="mb-3">
        <label for="exampleInputLastName" class="form-label">Last Name</label>
        <input type="lastName" class="form-control" id="exampleInputLastName">
      </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
      <div class="mb-3">
        <label for="exampleInputPhoneNumber" class="form-label">Phone Number</label>
        <input type="phoneNumber" class="form-control" id="exampleInputPhoneNumber">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    </div>
</div>
