form input {
    outline-width: 0;
    border-style: none;
}

form textarea {
    outline-width: 0;
    border-style: none;
}

form div {
    margin-bottom: 5px;
    text-align: center;
}
h3 {
    text-align: center;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border-top-style: 4px solid red;
    border-left-style: 4px solid red;
    border-right-style: 4px solid red;
    border-bottom: 4px solid red;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
    
    border-bottom: 4px solid green;
}