<img src="src/app/about/images/laptop.jpg"> <br>

<h5 class="text-center" class="fw-bold">
  I love combining the worlds of logic, and creativity to make user friendly websites and applications.
</h5>
<p class="fw-bold">
  I am a software developer from New York City, and I recently graduated from the Flatiron School for computer engineering and completed a 8 week intensive java focused course of curriculum with ApprenticeNow. I also have strong entrepreneurial, managerial, and customer service skills. These attributes, in conjunction with a year at Flatiron bootcamp, make me confident of the value I will bring to your company.
  After a career change into software engineering, I`ve experienced first hand how much work it requires to get involved and be successful. I love combining the worlds of logic, and creativity to make user friendly websites and applications. I`m excited to make the leap and to continue refining my skills.
</p>

