p {
    color: rgb(17, 15, 15);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    padding-right: 3em;
    padding-left: 3em;
    font-size: 1.1em;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-right: 300px;
    margin-left: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 1px solid black;
    box-shadow: 2px 5px 2px rgb(166, 166, 166);
}
h2{
    color: rgb(9, 9, 9);
    font-size: 2em;
    text-align: center;
    
}

h1 {
    background-color: rgb(113, 217, 179);
    padding: 4px;
    border: 1px dotted #e6eff6;
    margin-right: 600px;
    margin-left: 600px;
}

p {
    list-style-type: none;
    padding: 0;
    background-color: rgb(113, 217, 179);
    padding: 4px;
    border: 1px dotted #e6eff6;
    margin-right: 100px;
    margin-left: 100px;
  }

h5 {
    font-size: 1.2em;
    text-align: center;
}